@use "sass:map"
@use "../var"

h1, h2, h3, h4, h5, h6, p, a, li
    font-family: roboto

body
    margin: 0
    display: flex
    justify-content: center
    align-items: center
    height: 500px

    nav > p
        display: none
        font-family: roboto-heavy
        position: fixed
        top: 0px
        left: 0px
        margin: 0
        text-decoration: none
        background-color: var.$grey
        padding: 10px
        color: var.$light-grey
        cursor: pointer

        &:hover
            color: var.$grey
            background-color: var.$light-grey
            border-right: 3px solid var.$grey
            border-bottom: 3px solid var.$grey

    main
        display: flex
        flex-direction: column

        &.menu // Menu
            align-items: center

            & > i
                size: 2em
                margin-bottom: 20px 
  
            & > p.tab
                text-transform: capitalize
                text-align: center
                background-color: var.$light-grey
                border: 3px solid var.$light-grey
                color: var.$grey
                padding: 10px
                width: 100%
                cursor: pointer
                margin: 5px

                &:hover
                    color: var.$grey
                    background-color: var.$light-grey
                    border-right: 3px solid var.$grey
                    border-bottom: 3px solid var.$grey

        &.sheet // Sheet
            & > section
                display: flex
                flex-direction: column

                & > div
                    display: flex
                    // align-items: center
                    justify-content: center
                    // flex-direction: column
                    width: 300px
                    padding: 10px
                    background-color: var.$light-grey
                    flex-wrap: wrap

                    & > section
                        flex-direction: column
                        display: flex
                        width: 45%
            
            .name
                text-transform: uppercase
                font-family: roboto-medium
                margin: 0
                width: 100%
                text-align: center

            .icon, .parser
                +var.flex
                +var.square(50px)

            .parser
                font-family: roboto-heavy

    @media (max-width: map.get(var.$bp, 'tablet'))
        background-color: var.$light-grey


