// Centralization of all variables

// Breakpoints

$bp: ('phone': 320px, 'tablet': 768px, 'desktop': 1024px, 'large': 1200px)

// Colors

$brown: #795548
$grey: #9B9B9B
$light-grey: #EBEBEB
$main-color: $brown

// Mixins

=flex()
  display: flex
  justify-content: center
  align-items: center

=square($size)
    width: $size
    height: $size
    background-color: $grey
    cursor: pointer
    color: white
    margin: 5px
    border-radius: 90px

    &:hover
        background-color: $light-grey
        color: grey


// Fonts

@font-face
    font-family: "roboto-heavy"
    src: url("../font/Roboto-Black.ttf") format("truetype")

@font-face
    font-family: "roboto-bold"
    src: url("../font/Roboto-Bold.ttf") format("truetype")

@font-face
    font-family: "roboto-medium"
    src: url("../font/Roboto-Medium.ttf") format("truetype")

@font-face
    font-family: "roboto"
    src: url("../font/Roboto-Regular.ttf") format("truetype")

@font-face
    font-family: "roboto-light"
    src: url("../font/Roboto-Light.ttf") format("truetype")

@font-face
    font-family: "roboto-thin"
    src: url("../font/Roboto-Thin.ttf") format("truetype")

$main-font: "roboto"